.slide-container {
  width: 300vw;
  /* margin-left: -100vw; */
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.justabox {
  width: 100%;
  height: 3000px;
  /* background-color: aqua; */
  margin-top: 60px !important; /* 또는 navbar의 height 값만큼 설정 */

}

.navbar {
  width: 100%;
}

.navbar-brand {
  font-size: 52px !important;

}
